* {
	box-sizing: border-box;
}
h1 {
	color: blue;
	margin-bottom: 20px;
	text-align: center;
}

.col {
	background-color: grey;
	height: 200px;
	border: 3px solid black;
	margin: 10px;
	float: left;
}
.inside-text {
	padding: 30px;
}
#red {
	background-color: red;
}
#green {
	background-color: green;
}
#yellow {
	background-color: yellow;
}

span {
	border: 2px solid black;
	background-color: maroon;
	float: right;
	width: 160px;
	text-align: center;
	font-size: 20px;
}
@media (min-width: 992px) {
	.col-lg-4 {
		width: 31.2%;
	} 
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 47.1%;
	}
	.col-md-12 {
		width: 97%;
	}
}
@media (max-width: 767px) {
	.col-sm-12 {
		width: 97.2%;
	
	}
}